.joursdentrainements {
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 1850px;
    width: 100%;
    position: absolute;
  }

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
    text-align: center;
            padding: 8px;
}