marquee {
    letter-spacing: 2px;
    word-spacing: 4px;
    color: whitesmoke;
    transition: all 0.5s ease-in-out;
  }

marquee:hover {
    color: thistle;
}
  
  footer {
    background-color: midnightblue;
    opacity: 65%;
    padding: 0.75rem 0.75rem;
    position: absolute;
  }

.container-contact {
  background-color: midnightblue;
  opacity: 50%;
  height: 25vh;
}